<!DOCTYPE html>

<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="Layout2.css">
</head>

<body>
    <article src="Rectangle 30.png">
        <section id='section-1'>
            <div id='left' class='col-lg-6 col-lg-6 col-xs-12'>
                <img class='picture-1' src="1.png" />
            </div>
            <div id='right' class='col-lg-6 col-lg-6 col-xs-12'>
                <h3 class='header-1'>Iqualiff CPE - the best soluton amoung marketplaces.</h3>
                <img class='h-line h-line-pos-1' , src="Rectangle 33.png">
                <img class='h-line h-line-pos-2' , src="Rectangle 33.png">
                <div class='text-1'>
                    <p>IQUALIFF CPE extracts 40% more contacts than our competitors. A real advantage in terms of time and efficiency.</p>
                    <p>IQUALIFF is used to collect mass or targeted data from the White or, Yellow pages directories.</p>
                </div>
            </div>
        </section>
    </article>

</body>

</html>