#section-1 {
    position: relative;
    width: 1920px;
    height: 687px;
    background: #182439;
}

#section-2 {
    position: relative;
    width: 1920px;
    height: 665px;
    background: url("19366.png");
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
}

#section-3 {
    position: relative;
    width: 1920px;
    height: 665px;
    background: #FFFFFF;
    background-size: cover;
}

#section-4 {
    position: relative;
    width: 1920px;
    height: 1168px;
    background: #182439;
    background-size: cover;
}

#section-5 {
    position: relative;
    width: 1920px;
    height: 1132px;
    background: url("19366.png");
    opacity: 0.5;
}

#section-6 {
    position: relative;
    width: 1920px;
    height: 886px;
    background: #ffffff;
    background-size: cover;
}

#section-7 {
    position: relative;
    width: 1920px;
    height: 886px;
    background: #182439;
    background-size: cover;
}

#section-8 {
    position: relative;
    width: 1920px;
    height: 665px;
    background: url("19366.png");
    background-size: cover;
    opacity: 0.5;
}

.picture-1 {
    position: relative;
    top: 91px;
    width: 928px;
    height: 522px;
}

.container {
    margin: 0px;
    max-width: 1920px;
}

.container-second {
    height: 100%;
    width: 100%;
}

.content-2 {
    height: 100%;
    width: 100%;
    text-align: center;
}

.scew-line {
    position: relative;
    top: 100px;
    width: 49.89px;
    height: 409.06px;
    background: url("Line.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 12;
}

h3 {
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
}

.header-1 {
    position: relative;
    top: 91px;
    left: -80px;
    width: 1002px;
    height: 111px;
    margin: 0px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #F7C055;
}

.header-2 {
    position: relative;
    width: 548px;
    height: 47px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #000000;
}

.header-small {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    vertical-align: center;
    background: url("Rectangle 35.1.png");
    background-repeat: no-repeat;
    background-position: right;
    color: #557099;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.header-3 {
    width: 161px;
    height: 46px;
}

.header-4 {
    width: 298px;
    height: 46px;
}

.header-5 {
    width: 200px;
    height: 46px;
}

.header-6 {
    width: 394px;
    height: 46px;
}

.section-2 {
    width: 190px;
    height: 42px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.section-2-color1 {
    color: #3BB7FD;
}

.section-2-color2 {
    color: #F6C055;
}

.second {
    vertical-align: middle;
    text-align: center;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 20%;
    margin-bottom: 10%;
}

.text-upper {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.round1 {
    top: 263px;
    left: 368px;
    width: 292px;
    height: 73px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    -webkit-border-radius: 24px;
    border: 5px solid #3BB7FD;
    box-sizing: border-box;
    border-radius: 100px;
    text-align: center;
    color: #3BB7FD;
    padding: 0px;
}

.round2 {
    top: 263px;
    left: 368px;
    width: 292px;
    height: 73px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    -webkit-border-radius: 24px;
    border: 5px solid #F6C055;
    box-sizing: border-box;
    border-radius: 100px;
    text-align: center;
    color: #F6C055;
    padding: 0px;
}

.text-1 {
    position: relative;
    top: 150px;
    left: -80px;
    width: 862px;
    height: 134px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.h-line {
    position: relative;
    width: 137px;
    height: 5px;
    background: #3BB7FD;
}

.h-line-pos-1 {
    left: -80px;
    top: 120px;
}

.h-line-pos-2 {
    left: -220px;
    top: 300px;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/roboto/Roboto.eot");
    src: url("fonts/roboto/Roboto.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/Roboto.woff") format("woff"), url("fonts/roboto/Roboto.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}