<!DOCTYPE html>

<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Подключаем Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Layout2.css">
</head>

<body>
    <article>
        <section id='section-1'>
            <div class="container" src="Rectangle 30.png">
                <div class="row row-1">
                    <div class="col-lg-6">
                        <img class='picture-1' src="1.png" />
                    </div>
                    <div class="col-lg-6">
                        <h3 class='header-1'>Iqualiff CPE - the best soluton amoung marketplaces.</h3>
                        <img class='h-line h-line-pos-1' , src="Rectangle 33.png">
                        <img class='h-line h-line-pos-2' , src="Rectangle 33.png">
                        <p class='text-1'>IQUALIFF CPE extracts 40% more contacts than our competitors. A real advantage in terms of time and efficiency.</p>
                        <p class='text-1'>IQUALIFF is used to collect mass or targeted data from the White or, Yellow pages directories.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id='section-2'>
            <div class="container">
                <div class="row row-2">
                    <div class="col-lg-5">
                        <h3 class='header-2'>White Pages Extractor</h3>
                        <p class='second'>
                            <span class='section-2-color1 text-upper'>Free Download</span>
                            <span class='text-upper'>Click here</span>
                            <span>to extract data about individuals in Canada</span>
                        </p>
                        <p class='section-2-color1 word-spacing'>Download</p>
                    </div>
                    <div class="col-lg-2 scew-line">
                    </div>
                    <div class="col-lg-5">
                        <h3 class='header-2'>Yellow Pages Scraper</h3>
                        <p class='second'>
                            <span class='section-2-color2 text-upper'>Free Download</span>
                            <span class='text-upper'>Click here</span>
                            <span>to scrape professionals leads from Canada</span>
                        </p>
                        <p class='section-2-color2 word-spacing'>Download</p>
                    </div>
                </div>
        </section>
        <section id='section-3'>
            <div class="container">
            </div>
        </section>
        <section id='section-4'>
            <div class="container">
            </div>
        </section>
        <section id='section-5'>
            <div class="container">
            </div>
        </section>
        <section id='section-6'>
            <div class="container">
            </div>
        </section>
        <section id='section-7'>
            <div class="container">
            </div>
        </section>
        <section id='section-8'>
            <div class="container">
            </div>
        </section>

    </article>

</body>

</html>