#left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
}

#right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}

#section-1 {
    position: absolute;
    width: 1918px;
    height: 687px;
    background: #182439;
}

.picture-1 {
    position: absolute;
    top: 25px;
    left: 73px;
    width: 928px;
    height: 522px;
    background: url(1.png);
}

.header-1 {
    position: absolute;
    top: 91;
    right: -19px;
    width: 1002px;
    height: 111px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #F7C055;
}

p {
    margin: 15px;
}

.text-1 {
    position: absolute;
    top: 264px;
    right: 121px;
    width: 862px;
    height: 268px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.h-line {
    position: absolute;
    width: 137px;
    height: 5px;
    background: #3BB7FD;
}

.h-line-pos-1 {
    top: 239px;
}

.h-line-pos-2 {
    top: 409px;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto.eot");
    src: url("../fonts/Roboto/Roboto.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto.woff") format("woff"), url("../fonts/Roboto/Roboto.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}